@import "../../core/styles/variables.scss";

.navbar-container {
    display: block;
    position: fixed;
    top: 0;
    height: 4rem;
    z-index: 1;
    width: 100%;
}

.main-container {
    display: block;
    position: relative;
    height: calc(100% - 4rem);
    z-index: -1;
    top: 4rem;
}

@media (max-width: $bp-small-devices) {
}
