@import "../../core/styles/variables.scss";


.leaflet-container {
    height: 40rem;
}

#map {
    height: 100%;
    z-index: 0;
}

:host ::ng-deep .leaflet-tooltip{
    width: 15rem !important;
    height: fit-content !important;
    white-space: pre-line;
    color: black;
}

@media (max-width: $bp-small-devices) {

    #map {

    }
}
