<div class="login-container">
    <div class="title-section">
        <div class="logo"></div>
        <span>eh Tarik Index</span>
    </div>

    <div class="description">
        <p>
            This website is created for the purpose of calculating the inflation rate within Malaysia by collecting the
            price of Teh Tarik from
            different area.
        </p>

        <p>
            To ensure the accuracy of data, you are required to sign in with your google account. Apologize the
            incovienient and thank you for taking your time in contributing the data.
        </p>
    </div>

    <div class="login-section">
        <cool-google-button color="light" (click)="signIn()">
            Login with Google
        </cool-google-button>
    </div>
</div>