@import "../../core/styles/variables.scss";

.login-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-top: 15rem;

    .title-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 5rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        width: 100%;

        .logo {
            height: 100%;
            background-image: url("/assets/logo.png");
            background-repeat: no-repeat;
            background-size: contain;
            width: 7rem;
            height: 7rem;
            display: block;
            margin-right: 0.8rem;
        }

        > span {
            height: 100%;
            vertical-align: bottom;
            font-weight: 700;
            font-size: 6rem;
            font-family: "Cedarville Cursive", cursive;
            color: var(--primary-brown);
        }
    }

    .description {
        font-size: 1.7rem;
        margin-bottom: 2rem;
        padding-inline: auto;
        max-width: 50rem;
    }

    .login-section {
        display: flex;
        justify-content: flex-start;
        margin-top: 8rem;
        box-shadow: rgba(0, 0, 0, 0.541) 0px 5px 15px;
    }
}

@media (max-width: $bp-small-devices) {

    .login-container {
        padding-top: 10rem;

        .title-section {

            .logo {
                width: 4rem;
                height: 4rem;
            }

            > span {
                font-size: 3rem !important;
            }
        }

        .description {
            font-size: 1.7rem;
            margin-bottom: 2rem;
            padding-inline: auto;
            max-width: 50rem;
        }

        .login-section {
            margin-top: 3rem;
        }
    }
}
