<div class="default-container">
    <div class="title-section flex-row">
        <div>Teh Tarik Index</div>
    </div>

    <div class="form-holder">
        <form #form="ngForm" [class.show-form-error]="showFormError">
            <div class="form-field col-lg-6">
                <div><span>Enter the amount (RM):</span></div>
                <div><input type="number" step="0.01" placeholder="0.00" name="priceTehTarik" [(ngModel)]="priceTehTarik" required autofocus="true">
                </div>
                <div class="error-msg" *ngIf="showFormError && form.controls.priceTehTarik?.errors?.required">Please enter the price of teh tarik.</div>
            </div>

            <div class="form-field col-lg-6">
                <div><span>Enter the region: </span></div>
                <input type="text" placeholder="TBS, Bandar Tasik Selatan" aria-label="Number" matInput [matAutocomplete]="auto"
                    name="place" [(ngModel)]="place" (keyup)="getOptions()" required>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let item of locationInput" [value]="item.name" (onSelectionChange)="saveOption(item)">
                        {{ item.name }}
                    </mat-option>
                </mat-autocomplete>
                <div class="error-msg" *ngIf="showFormError && form.controls.priceTehTarik?.errors?.required">Please enter the region.</div>
            </div>
        </form>
    </div>

    <div class="btn-holder">
        <button class="btn-submit" (click)="submit()">
            <span>Submit</span>
        </button>
    </div>
</div>
